# Configurataion for process exporter
# Contains regex statements to decide which processes to export

process_names:
        - name: libvirt daemon
          cmdline:
                  - '/usr/sbin/libvirtd'