
# NGINX
  nginx:
    container_name: "{{ install_name }}_nginx"

    image: nginx:1.26
    volumes:
      # Auxillary files
      ##- "{{ base_install_dir }}/nginx/html:/usr/share/nginx/html"
      - "{{ base_install_dir }}/nginx/config/nginx.conf:/etc/nginx/nginx.conf"
      ##- "{{ base_install_dir }}/nginx/config/htpasswd:/etc/nginx/htpasswd"
      
      # TLS configs snippet.
      - "{{ base_install_dir }}/nginx/config/ssl_snippet.conf:/etc/nginx/ssl_snippet.conf"
      # Using Self-signed TLS certs already on node.
      ##- "{{ nginx_interm_cert }}:/etc/nginx/root_CA_cert_plus_intermediates_file:ro"

      - "{{ base_install_dir }}/nginx/certs/tls.key:/etc/nginx/key_file:ro"
      - "{{ base_install_dir }}/nginx/certs/tls.cert:/etc/nginx/cert_file:ro"

      # Conf.d files
      - "{{ base_install_dir }}/nginx/conf.d:/etc/nginx/conf.d"

    ports: {{ nginx_ip_ports_worker }}
  

    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always

