version: "3.6"

services:
  filebeat:
    image: docker.elastic.co/beats/filebeat:8.6.1
    network_mode: host
    restart: always
    container_name: fabric_beats_filebeat
    user: root
    command: -strict.perms=false -e
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers/:/var/lib/docker/containers/:ro"
      - "/var/log/:/var/log/:ro"
{% if component_type == 'head' %}
      - "/home/nrig-service/ControlFramework/fabric_cf/:/home/nrig-service/ControlFramework/fabric_cf/:ro"
{% endif %}
{% if filebeats_special is defined and filebeats_special.paths is defined %}
{% for log_path in filebeats_special.paths %}
      - "{{log_path}}:{{log_path}}:ro"
{% endfor %}
{% endif %}

    secrets:
      - source: filebeat.yml
        target: /usr/share/filebeat/filebeat.yml
      - source: mfbr1-p_fabric-testbed_net_interm.cer
        target: /etc/filebeat/mfbr1-p_fabric-testbed_net_interm.cer

secrets:
  filebeat.yml:
    file: ./filebeat-docker.yml
  mfbr1-p_fabric-testbed_net_interm.cer:
    file: ./mfbr1-p_fabric-testbed_net_interm.cer
